body{
    padding: 0;
    margin: 0;
    font-size: 15px;
}
div, p, input, button, form, span, a, ul, li {
	box-sizing: border-box;
}
h1, h2, h3, h4{
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
}
.one{
    width: 1170px;
    margin: 0 auto;
}
header{
    background: rgba(77,192,254,1);
    background: -moz-linear-gradient(-45deg, rgba(77,192,254,1) 0%, rgba(55,144,217,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(77,192,254,1)), color-stop(100%, rgba(55,144,217,1)));
    background: -webkit-linear-gradient(-45deg, rgba(77,192,254,1) 0%, rgba(55,144,217,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(77,192,254,1) 0%, rgba(55,144,217,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(77,192,254,1) 0%, rgba(55,144,217,1) 100%);
    background: linear-gradient(135deg, rgba(77,192,254,1) 0%, rgba(55,144,217,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4dc0fe', endColorstr='#3790d9', GradientType=1 );
    padding-top: 60px;
    padding-bottom: 138px;
}
.wrapper{
    display: flex;
    justify-content: space-between;
}
.logo{
    width: 103px;
}
.text{
    width: 575px;
    margin-top: 145px;
    color: #fff;
}
h1{
    font-size: 37px;
}
span{
    font-size: 59px;
}
p{
   font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.65em;
}
.mini{
    font-size: 16px;
    width: 405px;
    margin-bottom: 44px;
    margin-top: 48px;
}
.btn{
    background: #ffd429;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    color:#2e2a1b;
    width: 222px;
    display:block;
    padding: 15px 0;
    text-align: center;
    text-decoration: none;
    transition: all 0.4s ease;
}
.btn:hover{
    background:#dcb828 ;
}
.first{
    margin-top: 113px;
    color: #201b2d;
    text-align: center;
}
h2{
    font-size: 30px;
    color: #201b2d;
    text-align: center;
}
h3{
    font-size: 19px;
    padding-top: 100px;
    margin-bottom: 24px;
}
.texts{
    display: flex;
    justify-content: space-between;
    margin-top: 74px;
    margin-bottom: 120px;
}
.future{
    width: 300px;
    background: url('../img/four.jpg') no-repeat top;
}
.travel{
    width: 295px;
    background: url('../img/two.jpg') no-repeat top;
}
.space{
    width: 325px;
    background: url('../img/three.jpg') no-repeat top;
}
.second{
    background: #ecf3f8;
    text-align: center;
}
#form{
    padding-top: 102px;
}
.form{ 
    margin-top: 45px;
    display: inline-block;
    margin-bottom: 90px;
}
input{
    display: block;
    width: 340px;
    height: 50px;
    padding-left: 20px;
    margin-top: 15px;
    border: 0.5px solid #bbbbbb;
    color: #c2c2c4;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    }
input:hover{
    border: 0.5px solid #787878;
}
.btn-new{
    border: 0;
	cursor: pointer;
	display: inline;
    margin-top: 13px;
    width: 340px;
    height: 56px;
}
footer{
    background:#164d7a;
    padding: 62px 0;
}
.footer{
    margin: 0;
    color: #fff;
    font-size: 14px;
    text-align: center;
}