body{
    box-sizing: border-box;
}
img{
    width: 150px;
}
.one{
    background: blue;
    color: white;
    width: 100px;
    margin: 0 0 100px 0;
}
h1 {
    color: red;
}
header span {
    color:red
}
h2{
    background: green;
    color: #fff;
}
.two{
    padding: 40px;
}
.three{
    margin-left: 100px;
}
li {
    font-size: 20px;
    border: 1px solid #000;
}